<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CORONA</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">


<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="" class="scrollto">HOME</a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#about">About </a></li>
          <li><a href="#services">Prevention</a></li>
          <li><a href="http://127.0.0.1:5000/">Detection</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="img/intro-img.png" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>We provide<br>All The Information<br>for Pandemic!</h2>
  
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3><b>About The Disease</b></h3>
          <p>Coronaviruses are a large family of viruses which may cause illness in animals or humans. </p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
               In humans, several coronaviruses are known to cause respiratory infections ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS). The most recently discovered coronavirus causes coronavirus disease COVID-19.
            </p>

            <div class="icon-box wow fadeInUp">
              <h4 class="title"><a href="">Diseases can make anyone sick regardless of their race or ethnicity.</a></h4>
              <p class="description">Fear and anxiety about COVID-19 can cause people to avoid or reject others even though they are not at risk for spreading the virus.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <h4 class="title"><a href="">For most people, the immediate risk of becoming seriously ill from the virus that causes COVID-19 is thought to be low.</a></h4>
              <p class="description">Some people may have an increased risk for more serious complications from COVID-19 and should take measures to protect themselves.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="img/about-img.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="img/about-extra-1.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>SPREAD</h4>
            <p>
             In 2019, the Centers for Disease Control and Prevention (CDC) started monitoring the outbreak of a new coronavirus, SARS-CoV-2, which causes COVID-19. Authorities first identified the virus in Wuhan, China.
           </p>
           <p> Since then, the virus has spread to nearly every country, leading the World Health Organization (WHO) to declare a pandemic.
            </p>
            <p>The new coronavirus has been responsible for millions of infections globally, causing hundreds of thousands of deaths. The United States has seen the highest number of these deaths.</p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="img/ about-extra-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>SYMPTOMS</h4>
            <p>
             People with COVID-19 have had a wide range of symptoms reported – ranging from mild symptoms to severe illness. Symptoms may appear<b> 2-14 days after exposure to the virus</b>. People with these symptoms may have COVID-19:
            </p>
            <ul>
            <li>Fever or chills
<li>Cough</li>
<li>Shortness of breath or difficulty breathing</li>
<li>Fatigue</li>
<li>Muscle or body aches</li>
<li>Headache</li>
<li>New loss of taste or smell</li>
<li>Sore throat</li>
<li>Congestion or runny nose</li>
<li>Nausea or vomiting</li>
<li>Diarrhea</li>
            </ul>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>How To Prevention & Advice</h3>
          <p>Prevention Is Better Than Cure</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-outlet" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Wear A Face Mask</a></h4>
              <p class="description">Wearing a mask alone will not prevent you from getting a SARS-CoV-2 infection. Careful handwashing and physical distancing must also be followed .</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-timer" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Wash Your Hands 20sec</a></h4>
              <p class="description">Use warm water and soap and rub your hands for at least 20 seconds. Work the lather to your wrists, between your fingers, and under your fingernails. You can also use an antibacterial and antiviral soap.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-thumbsdown" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Avoid touching your face</a></h4>
              <p class="description">Avoid touching any part of your face or head, including your mouth, nose, and eyes. Also avoid biting your fingernails. This can give SARS-CoV-2 a chance to go from your hands into your body.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-android-hand" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Stop shaking hands and hugging people</a></h4>
              <p class="description">Similarly, avoid touching other people. Skin-to-skin contact can transmit SARS-CoV-2 from one person to another.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-alert-circled" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Cover your mouth and nose when you cough and sneeze</a></h4>
              <p class="description">SARS-CoV-2 is found in high amounts in the nose and mouth. This means it can be carried by air droplets to other people when you cough, sneeze, or talk. It can also land on hard surfaces and stay there for up to 3 </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-arrow-resize" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Take physical (social) distancing seriously</a></h4>
              <p class="description">If you’re carrying the SARS-CoV-2 virus, it’ll be found in high amounts in your spit (sputum). This can happen even if you don’t have symptoms.Physical (social) distancing, also means staying home and working remotely when possible.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Portfolio Section
    ============================-->
    <a class="fx-widget" data-widget="coronastatus" data-lang="en" data-base-url="https://www.fxempire.com" data-url="//www.fxempire.com" href="https://www.fxempire.com" rel="nofollow" > </a> <script async charset="utf-8" src="https://widgets.fxempire.com/widget.js" ></script>
    <!-- #portfolio -->


 

  </main>


  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
